body {
    background-color: rgb(45, 166, 187);
}

#news-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    color: #f5f5f5;
}

#new-container .news-item img {
    width: 200px;
    height: auto;
}

#new-container .news-item {
    padding: 5px;
    border: 3px 2px #222;
    background-color: rgb(9, 64, 103);
}
